@import './layout/all';
@import './components/all';

html {
  height: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
  overflow: hidden;
  background-color: hsl(0, 0%, 98%);
}

.scroll-y {
  overflow-y: auto;
}

.page {
  height: 100vh;
}
