.flex-column {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: center;
}

.m5 {
  margin: 5px;
}
